@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap');
body{
    font-family:"Poppins",Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(197,194,241,.4) 0%, rgba(141,230,248,.3) 100%);
}
.title{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    flex-direction:column;
    
    gap:2%;
    
}
.inner-title,.outer-title{
    border-radius:4.5px;
    background: linear-gradient(90deg, rgba(197,194,241,.4) 0%, rgba(141,230,248,.4) 100%);
    padding:50px;
}
.outer-title{
    padding:10px;
    width:auto;
    transition:padding 1s !important;
    
}
h1,h4{
    margin:0;
    background: linear-gradient(90deg, rgba(150, 145, 217, 0.9) 0%, rgba(98, 205, 227, 0.9) 100%); 
    color:transparent;
    background-clip:text;
    text-align:Center;
}
.field{
    text-align:center;
    opacity:.6;
    outline:none;

}
.field:Active{
    
    opacity:.8;
}
p{
    display:inline-block;
    opacity:1;
    transition:all .3s;
    margin:0;
    color:rgb(134, 180, 255);
}

